[Desktop Entry]
Name=pisiPomegranate
Name[tr]=pisiNar
X-KDE-PluginInfo-Name=pisiPomegranate
X-KDE-PluginInfo-Name[tr]=pisiNar
X-KDE-PluginInfo-Author=Murat Özgün-Erkan IŞIK
X-KDE-PluginInfo-Email=erkanisik@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-SA
